bootstrap-flask
starlette
pydantic
openshift
pyjwt[crypto]
psycopg2-binary
gunicorn
daiquiri
passgen
passlib
bcrypt
python-multipart
python-dotenv
requests
authlib
six
flask
wtforms
pybreaker
libgravatar