{% from 'bootstrap/nav.html' import render_nav_item %}
{% from 'bootstrap/utils.html' import render_static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>DCaaS</title>
    {% block styles %}
    <!-- Bootstrap CSS -->
    {{ bootstrap.load_css() }}
    {{ render_static('css', 'styles/dashboard.css') }}
    {% endblock %}
</head>
<body>
    <nav class="navbar navbar-dark fixed-top bg-dark flex-md-nowrap p-0 shadow">
            <a class="navbar-brand col-sm-3 col-md-2 mr-0" href="#">DCaaS</a>
            <ul class="navbar-nav px-3">
            <li class="nav-item text-nowrap">
                <a class="btn btn-primary btn-small btn-logout btn-block" href="/logout">Logout</a>
            </li>

            </ul>
    </nav>
              
    <div class="container-fluid">
        <div class="row">
            <nav class="col-md-2 d-none d-md-block bg-light sidebar">
            <div class="sidebar-sticky">
                <ul class="nav flex-column">
                <li class="nav-item">
                    <a class="nav-link active" href="/dashboard">
                    <span data-feather="home"></span>
                    Dashboard <span class="sr-only">(current)</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/users/connection">
                    <span data-feather="Connections"></span>
                    Desktops
                    </a>
                </li>
                </ul>
            </div>
            </nav>
         
    <main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-4">
    {% block content %}{% endblock %}
</main>
</div>
</div>

{% block scripts %}
<!-- Optional JavaScript -->
{{ bootstrap.load_js() }}
{{ render_static('js', 'js/dashboard.js') }}
{{ render_static('js', 'https://cdnjs.cloudflare.com/ajax/libs/feather-icons/4.9.0/feather.min.js', local=False) }}
{% endblock %}
</body>
</html>
