{% extends "base_nav.html" %}
{% from 'bootstrap/utils.html' import render_static %}

{% block styles %}
{{super()}}
{{ render_static('css', 'styles/connections.css') }}
{% endblock %}

{% block content %}
<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
        <h2>Container Desktops</h2>
</div>

  <form  action="" method="post" role="form">												   
      <button type="submit" name="submit" value="create_new_conn" class="btn btn-success">Create New Connection</button>
  </form>
  <br>

<div class="card-deck mb-3 text-center">
    {% for conn in connections %}
    <div class="card shadow-sm" style="width: 18rem;">
      <div class="card-header">
        <h4 class="my-0 font-weight-normal">{{ conn['connection_name'] }}</h4>
      </div>
      <div class="card-body">
        <h1 class="card-title pricing-card-title">ICON should be here</small></h1>
        <div class="btn-group">
            <a class="btn btn-primary" href="{{ GUAC_URL }}">Connect</a>
            <a class="btn btn-danger" href="{{ GUAC_URL }}">Delete</a>
        </div>
      </div>
    </div>
    {% endfor %}
</div>
{% endblock %}
